#blokus_table td{
    width: 30px;
    height: 30px;
    border: solid black 1px;
    

    
}

#blokus_board{
    margin-left: auto;
    margin-right: auto;
}

#blokus_table{
    

    margin-left: auto;
    margin-right: auto;

    


}

#red {

    

    padding: 25px;

    text-align: center;
    
    
}

#blue {
    text-align: center;
    padding: 25px;

}

#yellow {
    text-align: center;
    padding: 25px;
}

#green {

    text-align: center;
    padding: 25px;
}