/********** Template CSS **********/
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
    
}

.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 40 px;
    bottom: 20px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
    left:auto;
    }

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
    width: 100px;
}


/*** Button ***/

/* .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.popup {
    position:fixed;
    top:-100vh;
    left:0px;
    width:100%;
    height:100%;
}
.popup .overlay {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    opacity:0;
    transition: opacity 100ms ease-in-out 200ms;
}
.popup .popup-content {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: 95%;
    max-width:350px;
    background:#fff;
    padding:25px;
    border-radius:20px;
    opacity:0;
    box-shadow:0px 2px 2px 5px rgba(0,0,0,0.05);
    transition:all 300ms ease-in-out;
}
.popup .popup-content h2 {
    margin:10px 0px;
    font-size:25px;
    color: #111;
    text-align:center;
}
.popup .popup-content .controls {
    display:flex;
    justify-content:space-between;
    margin:20px 0px 0px;

}
.popup .popup-content .controls button {
    padding:10px 20px;
    border:none;
    outline:none;
    font-size:15px;
    border-radius: 20px;
    cursor:pointer;

}
.popup .popup-content .controls .close-btn {
    background:transparent;
    color:#3284ed;;
}
.popup .popup-content .controls .submit-btn {
    background:#3284ed;
    color:#fff;
}
.popup.active {
    top:0px;
    transition: top 0ms ease-in-out 0ms;
}
.popup.active .overlay {
    opacity:1;
    transition: all 300ms ease-in-out;
}
.popup.active .popup-content {
    transform: translate(-50%, -50%) scale(1);
    opacity:1;
} */

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(53, 160, 136);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 20px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  



/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 20px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 15px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 15px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }
}




.closedcenter-header img {
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate { 
    100% { 
        transform: rotate(360deg); 
    } 
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	color: #FEA116 !important;
	font-family: "Bahnschrift Light Condensed";
}

body {
  background: #0F172B;
  font-family: 'Rubik', sans-serif;
}

.login-form {
  background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
	padding: 35px 35px 0 35px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #FFFFFF;
}
.login-form .content {
  padding: 35px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:focus {
  border-color: #222;
}
.login-form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.login-form .action button {
	width: 100%;
	border: none;
	padding: 18px;
	font-family: 'Rubik', sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	background: #F96815;
	color: #000000;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0;
	letter-spacing: 0.2px;
	outline: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.login-form .action button:hover {
  background: #0F172B;
}
.login-form .action button:nth-child(2) {
  background: #2d3b55;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
  background: #3c4d6d;
}